{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!
{% endblock %}

{% block body %}
  <main>
    <section class="container">
      <h1>Create a new Post✅</h1>
      <hr>
      <h5>Create a new post here:</h5>
      <article class="columns">
        <div class="column col-7 col-mx-auto form-group">
          <label class="form-label" for="title">
            Title
          </label>
          <input class="form-input" name="title" placeholder="Title" type="text">
        </div>
        <div class="column col-7 col-mx-auto form-group">
          <label class="form-label" for="content">Content</label>
          <textarea class="form-input" cols="84" id="input-content" name="content" placeholder="Write tyour post here" rows="10"></textarea>
        </div>
        <div class="column col-7 col-mx-auto form-group">
          <label class="form-label" for="author">
            Author
          </label>
          <input class="form-input" name="author" placeholder="Author" type="text">
        </div>

        <div class="column col-12 text-center col-mx-auto form-group">
          <a class="btn btn-success" href="{{ path('store_post') }}">Submit post!</a>
        </div>
      </article>
    </section>
  </main>
{% endblock %}
