{% extends "base.html.twig" %}

{% block title %}
  Blog made with Symfony!
{% endblock %}

{% block body %}
  <main>
    <section class="container text-center">
      <h1>
        Welcome
      </h1>
    </section>
  </main>
{% endblock %}
